.about-setu-page {
  background: linear-gradient(to bottom, #fefcea, #e8ebff);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-family: "Segoe UI", sans-serif;
}
.about-setu-section {
  text-align: center;
  max-width: 90%;
  padding: 2rem;
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(160, 120, 255, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}
.translate-button{
  margin: 0 auto;
}