
.Sadhna-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  text-align: center; /* This centers inline and inline-block elements like <img> */
}

.translate-button{
  background-color: #0702bc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(106, 76, 175, 0.3);
  
  display: block;      /* make it block */
  margin: 2rem auto;
}
.Sadhna-container img {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.Sadhna-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  text-align: center; /* This centers inline and inline-block elements like <img> */
}

.Sadhna-container img {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.Sadhna-container h1 {
  font-size: 2.5rem;
  color: #0000dd;
  margin-top: 2rem;
}

.Sadhna-container h4 {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 2rem;
  font-weight: bold;
  font-style: italic;
}

.Sadhna-container h5 {
  font-size: 1rem;
  padding: 0 2rem;
  color: #000000;
  margin: 1.5rem 0;
  font-weight: bold;
}

.Sadhna-container p {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 2rem;
  color: #000000;
}

.Sadhna-container span {
  font-weight: bold;
  color: #000;
}

@media (max-width: 768px) {
  .Sadhna-container h5 {
    padding: 0rem 0rem;
    line-height: 1.5rem;
  }
  .Sadhna-container h4{
    font-size: 1.3rem;
  }
  .Sadhna-container h1{
    font-size: 1.5rem;
  }
}
